<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/icon.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
         <div class="main_content">
        {{>header}}
        <h3>about page</h3>
        <img class="profile" src="/img/dp.jpg">
        </div>
        {{>footer}}
    </body>
</html>