<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/icon.png">
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main_content">
        {{>header}}
        <h3>{{helpText}}</h3>
        </div>
        {{>footer}}
    </body>
</html>